.center-screen {
  position: relative;
  background-color: black;
  width: 60vw;
  height: 60vh;
  left: 20vw;
  right:20vw;
  top:20vh;
  bottom: 20vh;
  text-align: center;
  border-radius: 0.5em;
}
